<div class="page-data">
    <mat-card class="faq-header">
        <div>
            <h1 class="faq-text">FAQ</h1>
        </div>
        <div class="faq-qa-text">
            <mat-label><strong>Do you provide the licensing exams?</strong></mat-label>
            <mat-label>Please note that the purchase of NoBooks Learning's exam preparation materials does not
                constitute enrolment in the actual licensing course(s). Instead, our materials are designed to assist
                you in
                understanding the content of such courses. If you have not already done so, you must register with the
                applicable course and exam provider in order to obtain their course materials and write the actual exam.
                .
            </mat-label><br>
            <mat-label><strong>Can I share a subscription with a colleague?</strong></mat-label>
            <mat-label>Your NoBooks Learning study centre was created for a single user and is not transferable to, or
                to
                be
                shared by, another user, whether it is used for the full subscription time period or part thereof. Your
                subscription is effectively designed for your sole use and not to be shared. Sharing access will result
                in
                termination of your subscription. </mat-label><br>
            <mat-label><strong>How do I view subscription options and order?</strong></mat-label>
            <mat-label>Click on an exam preparation study option above and you will be taken to a page with the
                subscription
                description, options, and order button.</mat-label><br>
            <mat-label><strong>Who writes your study tools and makes your training videos?</strong></mat-label>
            <mat-label>All our exam preparation study tools are crafted by our fully-qualified and professional in-house
                staff. Our training videos are created in our own video studio.</mat-label><br>
            <mat-label><strong>How do I receive my exam preparation study tools and login credentials?</strong>
            </mat-label>
            <mat-label>After placing your order you will receive an email from NoBooks Learning with your personal login
                username and password to access your learning centre for your exam preparation study
                selected. Orders are automatically processed 24/7 and you will receive your payment receipt and login
                information emails within 15 minutes. The username/password is unique to you and not to be shared with
                any
                other person. Please read our EULA (End User License Agreement) if you need any clarification.
            </mat-label>
            <br>
            <mat-label><strong>How many attempts are permitted for each exam preparation course study module?</strong>
            </mat-label>
            <mat-label>We want you to be able to study as much as you need to be prepared. If you follow our recommended
                study then you will not need to redo a study module too many times to be successful on your exam.
            </mat-label><br>
            <mat-label><strong>Do you offer course exam preparation study tools not listed on your website?</strong>
            </mat-label>
            <mat-label>All our available exam preparation study tools are listed on our main website page located at
                www.NoBooks.com. We do not have any exam preparation study tools that are not listed. For example,
                we
                do not have study tools for: IMT®, FPE1/2®, or FP1/2® course studies that are not from CSI®. If you do
                not
                see it listed then we do not have study tools for it.</mat-label><br>
            <mat-label><strong>Do you provide classroom instruction?</strong></mat-label>
            <mat-label>All the NoBooks study tools (study materials) are online, with the exception of the optional
                purchase
                of a printed version of the Study Guide. The NoBooks Learning Study Guide is a concise summary, in an
                easier
                to understand format, of the course provider’s textbook. We do not provide classroom instruction. You
                can
                request, by using our support request form, for one of our trainers to clarify or further explain a
                question
                or answer. Use our Support page to submit your detailed request. This request MUST include the exam
                preparation name (example: IFC), question ID number (example: 2-105); and whether it is a Flash Card,
                Quiz,
                or Practice exam question. We only support our own study material and not your course provider or other
                sources of information on the course you are studying (example: another training company or government
                document). Use our Support page to submit your detailed request.</mat-label><br>
            <mat-label><strong>Can I just use your study tools and not purchase the Course provider’s study
                    material?</strong></mat-label>
            <mat-label>No. Please note that the purchase of NoBooks Learning’s exam preparation materials does not
                constitute enrolment in the actual licensing course(s). Instead, our materials are designed to assist
                you in
                understanding the content of such courses and speed up your learning. If you have not already done so,
                you
                must register with the applicable course provider in order to obtain their course materials and write
                the
                actual exam</mat-label><br>
            <mat-label><strong>Who should I contact with questions about SeeWhy Learning exam preparation study
                    tools?</strong></mat-label>
            <mat-label><strong>Email:</strong> support@nobookslearning.com</mat-label>
        </div>
    </mat-card>
</div>
<app-footer></app-footer>