.footer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: sans-serif;
    font-size: small;
    background: black;
    line-height: 4.5;
    width: 100%;
    position: absolute;
}