.subscribe-background {
    display: flex;
    height: 100%;
    background-image: linear-gradient(160deg, #301e37, #0b000c, #d36791);
    position: fixed;
    margin-left: 5%;
    overflow: auto;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    padding-top: 5%;
}