.about-section {
    color: #027095;
    background: #fff;
    font-family: Source Sans Pro,sans-serif;
    position: relative;
    line-height: 2.1em;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2%;
}
.about-text {
    padding-left: 5%;
    border: 0;
    font-family: Bebas Neue;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
}
.about-div-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 21px;
    line-height: 1.3em;
    text-align: left;
    font-family: Source Sans Pro;
    display: block;
}
.about-div-text1 {
    line-height: 3.0em;
}
.video-style {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 25%;
}
