<div class="page-data">
    <div class="about-section">
        <div>
            <h1 class="about-text">ABOUT US</h1>
        </div>
        <div class="about-div-text">
            <mat-label><Strong>NoBooks Inc.</Strong> is a Canadian company based in Ontario. All of Realestate/Broker
                Learning’s exam
                preparation course materials and study tools are created in-house by professional, industry-leading,
                expert
                trainers and course writers. The senior management team of NoBooks has over 50 years of combined
                experience coaching and assisting thousands of students through their realestate services education with
                tremendous success. <Strong>NoBooks.com</Strong></mat-label>
        </div>
        <br>
        <div class="about-div-text">
            <mat-label>The trade-marks AFP, BCO, CSI, CSC, CPH, DFOL, FP1, FP2, FPSU, IFC, NEC, OLC, PFP, PFSA, WME,
                Wealth
                Management Essentials, Branch Compliance Officer, Canadian Securities Course, Conduct and Practices
                Handbook
                Course, Investment Fund in Canada, New Entrants Course, Wealth Management Essentials, Personal Financial
                Services Advice Reading, Financial Planning 1, Financial Planning 2, Financial Planning Supplement,
                Applied
                Financial Planning, and Personal Financial Planner are owned by the Canadian Securities Institute
                (CSI®).
                The Canadian Securities Institute (CSI®) does not sponsor, license or necessarily recommend these notes
                and
                study material for any of its courses. Our NoBooks learning is an independent supplier of educational
                services. Exam preparation materials are not sponsored by any other industry organization.</mat-label>
        </div>
    </div>
</div>
<app-footer></app-footer>