<div *ngIf="doesFileExist" class="course-header">
    <div class="file-viewer">
        <button mat-raised-button class="pdf-button" (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span class="mr-2 ml-2">{{ page }} / {{ totalPages }}</span>
        <button mat-raised-button class="pdf-button" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>

    <pdf-viewer [src]="pdfDocumentSrc" [show-all]="false" [page]="page"
        (after-load-complete)="afterLoadComplete($event)"
        style="display: block; height: 100vh;"></pdf-viewer>
</div>
<div *ngIf="!doesFileExist">
    <div class="course-header">
        <img mat-card-image class="image-logo" src="../../assets/real-estate.png" alt="">
        <h1 class="courses-header">REAL ESTATE</h1>
    </div>

    <div class="courses-div">
        <div *ngFor="let course of realestateCourses">
            <div class="matcard-module">
                <mat-expansion-panel class="expansion-panel" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            {{course.courseName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="course-desc">{{course.courseDesc}}</p>
                </mat-expansion-panel>
                <div *ngIf="!course.isCourseAllowed">
                    <button mat-raised-button class="subscribe-button"
                        (click)="subscribeNow(course.courseName)">SUBSCRIBE
                        NOW</button>
                </div>
                <div *ngIf="course.isCourseAllowed">
                    <button mat-raised-button class="view-button" (click)="viewFile(course.courseName)"> VIEW MATERIAL
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="course-header">
        <img mat-card-image class="mortgage-image-logo" src="../../assets/mortgage.png" alt="">
        <h1 class="courses-header">MORTGAGE BROKER</h1>
    </div>
    <div class="courses-div">
        <div *ngFor="let course of mortgageCourses">
            <div class="matcard-module">
                <mat-expansion-panel class="expansion-panel" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            {{course.courseName}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <!--<button mat-raised-button class="subscribe-button">SUBSCRIBE NOW</button>-->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="course-desc">{{course.courseDesc}}</p>
                </mat-expansion-panel>
                <div>
                    <button mat-raised-button class="subscribe-button"
                        (click)="subscribeNow(course.courseName)">SUBSCRIBE
                        NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>