.courses-header {
    margin: 5% 20% 0% 35%;
    color: #292f33;
    font-size: 2.3em;
    font-weight: 500;
}
.matcard-module {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.courses-div {
    margin: 3% 10% 0% 10%;
}
.module-div {
    width: 50%;
    color: #292f33;
    background: powderblue;
    border-radius: 0px;
}