<mat-card class="login-modal-div" *ngIf='enableLogInSignupSection'>
    <div class="close-div">
        <button class="close" title="close" mat-button mat-dialog-close>X</button>
    </div>
    <div class="modal-content">
        <div class="modal-header">
            <div class="login-register-div">
                <input id="tab1" type="radio" name="tabs" checked>
                <label class="tab-label" for="tab1" (click)="logIn()">Login</label>
                <input id="tab2" type="radio" name="tabs">
                <label class="tab-label" for="tab2" (click)="signUp()">Sign Up</label>
            </div>
            <section id="content1" *ngIf='enableLoginSection'>
                <form class="login-form" id="Login">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="label-text">Username or email</mat-label>
                        <mat-icon matPrefix class="input-icon">account_circle</mat-icon>
                        <input class="username-text" type="text" [formControl]="username" matInput
                            [(ngModel)]='loginDetails.username' placeholder="Username or email" required>
                        <mat-error class="error-text" *ngIf="username.hasError('required')">
                            <strong>Field can not be empty.</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="label-text">Password</mat-label>
                        <mat-icon matPrefix class="input-icon">lock</mat-icon>
                        <input class="username-text" type="password" [formControl]="password" matInput
                            [(ngModel)]='loginDetails.password' placeholder="Password" required>
                        <mat-error class="error-text" *ngIf="password.hasError('required')">
                            <strong>Field can not be empty.</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="forgotPwdText">
                        <a (click)='forgotPassword()'>Forgot Password</a>
                    </div>
                    <div>
                        <button mat-raised-button class="btn-login" (click)="userLogin()"
                            [disabled]="username.hasError('required') || password.hasError('required')">Login</button>
                    </div>
                </form>
            </section>
            <section id="content2" *ngIf='enableSignUpSection'>
                <form class="login-form" id="signUp">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="label-text">E-mail</mat-label>
                        <mat-icon matPrefix class="input-icon">email</mat-icon>
                        <input class="username-text" type="text" [formControl]="username" matInput
                            [(ngModel)]='loginDetails.username' placeholder="E-mail" required>
                        <mat-error class="error-text"
                            *ngIf="username.hasError('email') && !username.hasError('required')">
                            <strong>Please enter a valid email address</strong>
                        </mat-error>
                        <mat-error class="error-text" *ngIf="username.hasError('required')">
                            <strong>Field can not be empty.</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="label-text">Password</mat-label>
                        <mat-icon matPrefix class="input-icon">lock</mat-icon>
                        <input class="username-text" type="password" [formControl]="password" matInput
                            [(ngModel)]='loginDetails.password' placeholder="Password" required>
                        <mat-error class="error-text" *ngIf="password.hasError('required')">
                            <strong>Field can not be empty.</strong>
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button class="btn-login" (click)="userSignUp()"
                            [disabled]="username.hasError('required') || password.hasError('required')">Sign Up</button>
                    </div>
                </form>
            </section>

        </div>
    </div>
</mat-card>
<mat-card class="login-modal-div" *ngIf='enableResetPwd'>
    <div class="modal-content">
        <div class="modal-header">
            <section id="content2">
                <form class="login-form" id="signUp">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="label-text">Username/Email</mat-label>
                        <mat-icon matPrefix class="input-icon">account_circle</mat-icon>
                        <input class="username-text" type="text" [formControl]="username" matInput placeholder="E-mail"
                            [(ngModel)]='loginDetails.username' required>
                        <mat-error class="error-text" *ngIf="username.hasError('required')">
                            <strong>Field can not be empty.</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="backToLoginText">
                        <a (click)='backToLogin()'>Back to Login</a>
                    </div>
                    <div>
                        <button mat-button class="btn-login" (click)="resetPassword()"
                            [disabled]="username.hasError('required')">Reset Password</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</mat-card>