<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="card-title">Question 1 of 70</mat-card-title>
    </mat-card-header>
    <div class="question-and-answer">
        <mat-card-content class="question">
            <div>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </div>
        </mat-card-content>
        <div class="answer">
            <label class="example-radio-group-label">Choose an option from below</label>
            <mat-radio-group class="example-radio-group" color="primary">
                <mat-radio-button color="primary" class="example-radio-button" *ngFor="let option of options"
                    [value]="option">
                    {{option}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <mat-card-actions class="card-actions">
        <button mat-raised-button class="prev-button">PREV</button>
        <button mat-raised-button class="next-button">NEXT</button>
    </mat-card-actions>
</mat-card>