.example-card {
    width: 80%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-top: 5%;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.card-title {
    padding-top: 5%;
    font-size: x-large;
    color: indigo;
}
.example-radio-button {
    color: indigo;
    padding: 0.5%;
}
.example-radio-group-label {
    color:indigo;
    padding: 1%;
    padding-bottom: 1%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
}
.card-actions {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
}
.question {
    color: indigo;
    padding: 1%;
    width: 100%;
}
.answer {
    width: 100%;
    padding: 1%;
}
.prev-button {
    color: indigo;
    background-color: white;
}
.next-button {
    color: white;
    background-color: indigo;
}
.question-and-answer {
    display: flex;
    flex-direction: row;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.example-margin {
  margin: 3% 0%;
  width: 80%;
  margin-left: 10%;
}
.submit-button {
  color: white;
  background-color: green;
}
/* .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 134, 244);
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(66, 134, 244);
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(66, 134, 244,.26);
  } */