<div class="page-data" *ngIf='testEnable'>
    <div class="courses-div">
        <div *ngFor="let test of mockTests">
            <div class="matcard-module">
                <mat-expansion-panel class="expansion-panel" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{test.courseName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class = "course-header">
                        <div class = "header-text" (click)="mockTest(test.courseId,test[0].id, test[0].status)"> MOCK TEST 1</div>
                        <div class="header-text" (click)="mockTest(test.courseId,test[1].id, test[1].status)"> MOCK TEST 2 </div>
                    </div> 
                    <div class="contact-header">
                        <div class="header-text" (click)="mockTest(test.courseId,test[2].id, test[2].status)"> MOCK TEST 3 </div>
                        <div class="header-text" (click)="mockTest(test.courseId,test[3].id, test[3].status)"> MOCK TEST 4 </div>
                    </div>
                </mat-expansion-panel>
                <div *ngIf="!test.isCourseAllowed">
                    <button mat-raised-button class="subscribe-button" (click)="subscribeNow(test.courseName, test.courseId)">SUBSCRIBE NOW</button>
                </div>
                <div *ngIf="test.isCourseAllowed">
                    <button mat-raised-button class="view-button" (click)="startTest(test.courseId)">START THE TEST</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>