<div class="page-data">
    <div class="courses-div">
        <div *ngFor="let test of mockTests">
            <div class="matcard-module">
                <mat-expansion-panel class="expansion-panel" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{test.testName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{test.testDesc}}</p>
                </mat-expansion-panel>
                <div *ngIf="!test.isTestAllowed">
                    <button mat-raised-button class="subscribe-button">SUBSCRIBE NOW</button>
                </div>
                <div *ngIf="test.isTestAllowed">
                    <button mat-raised-button class="view-button">VIEW TEST</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>