.toolbarLabel {
    min-width: 20%;
    justify-content: center;
    display: flex;
    color:white;
}
.image-page {
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 25%;
}
.imageLogo {
    height: 100%;
    width: 25%;
}
.buttonHome {
    height: 60%;
}
.image-logo-home {
    width: 13%;
    margin-right: 2%;
    margin-top: 1%;
}
.example-tab-icon {
    margin-right: 10%;
    color:white;
}
.left-header {
    font-size: xxx-large;
    color: darkcyan;
    margin-left: 5%;
}
.toolbar {
    justify-content:space-between;
    height: 16%;
    background-color: white;
}
.menu-padding {
    padding: 0px;
}
.progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.image-logo {
    width: 24%;
    height: 24%;
    margin: 0 !important;
}
.left-header-logo {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}