.subscribe-button {
    color: white;
    background-color: red;
    margin-top: 25%;
    width: 90%;
    font-size: x-large;
}
.subscribe-background {
    display: flex;
    height: 100%;
    background-image: linear-gradient(160deg, #301e37, #0b000c, #d36791);
    position: fixed;
    margin-left: 5%;
    overflow: auto;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    padding-top: 5%;
}
.plans-background {
    background: whitesmoke;
    margin-left: 11%;
    margin-top: 5%;
    padding-top: 2%;
    border-radius: 3%;
    width: 18%;
    height: 65%;
    border-style: solid;
    border-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plans-div {
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    color: red;
    line-height: 2em;
}
.features-div {
    margin-left: 10%;
    margin-top: 5%;
}
.circle-icon {
    color: green;
}
.feature-text {
    margin-left: 5%;
}
.button-div {
    margin-top: 70%;
    margin-left: 10%;
}
.button-div1 {
    margin-top: 65%;
    margin-left: 10%;
}
.button-div2 {
    margin-top: 47%;
    margin-left: 28%;
}
#basic:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/*#standard:hover {
    background-color: rgb(52, 188, 230);
}
#premeium:hover {
    background-color: rgb(58, 219, 131);
}*/