/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host ::ng-deep .ng2-pdf-viewer-container {
    overflow-x: auto;
    position: absolute;
    width: 100%;
}

.mat-dialog-container {
    display: block;
    border-radius: 0.5vh;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    height: 88vh !important;
    width: 60vw !important;
    min-height: inherit;
    max-height: inherit;
    margin-top: 11vh;
    margin-left: 5vw;
    margin-bottom: 0.5vh;
}