/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host ::ng-deep .ng2-pdf-viewer-container {
    overflow-x: auto;
    position: absolute;
    width: 100%;
}