<!-- <iframe width="600" height="315" class="video-style" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> -->
<div class="home-background">
    <div class = "course-header">
        <div class = "header-text" (click)="navigateTo('/courses')"> REAL ESTATE </div>
        <div class="header-text" (click)="navigateTo('/courses')"> MORTGAGE BROKER </div>
    </div> 
    <div class="contact-header">
        <div class="header-text" (click)="navigateTo('/mockTests')"> MOCK TESTS </div>
        <div class="header-text" (click)="navigateTo('/contact')"> CONTACT US </div>
    </div>
</div>

