.video-style {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 25%;
}
.home-background {
    display: flex;
    height: 100%;
    background-image: linear-gradient(to bottom, #607f8b, #a8ceda, #a8dad3);
    position: fixed;
    margin-left: 4%;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 5%;
}
.contact-header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.course-header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-text {
    display: flex;
    font-size: x-large;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 20%;
    padding: 4%;
    border-radius: 50%;
    background-color: darkseagreen;
    color: black;
    justify-content: center;
}